.imgCard {
  width: 224px;
  height: 224px;
  align-self: center;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  /* align-content: space-around; */
  align-items: center;
}
.card-footer p {
  margin-bottom: 0;
}

.imgenCarrito {
  width: 150px;
  object-fit: contain;
}

.boton-true {
  color: green;
  text-decoration: none;
}
.boton-true:hover {
  color: green;
}

.boton-false {
  color: rgb(84, 85, 84);
  text-decoration: none;
}
.boton-false:hover {
  color: rgb(84, 85, 84);
}


/* css Tomas */
#hrefredes {
  text-decoration: none;
}

.WhatsApp {
  position: fixed;
  bottom: 4rem;
  right: 0;
  z-index: 98;
}

.WhatsApp img {
  height: 4rem;
  z-index: 99;
}

#footer {
  background-color: darkolivegreen;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.1rem;
}

#copy-fot {
  background-color: dimgray;
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
}